body {
    padding : 0px;
    margin : 0px; 
    background-color: black;
    background-image: url('../images/bg.jpg');
    background-size: cover;
    color : white;
    font-family: 'Press Start 2P', cursive;
}
.outer_wrap {
    background-color: rgba(37, 37, 37, 0.66);
    margin-top : 100px;
    padding : 20px;
}

